<div class="paragraph">
  <div class="{% if content.field_layout['#items'][0].getString() != 'Box' %}full-width{% endif %} 
              {% if content.field_classes['#items'][0].getString() is not empty %}{{ content.field_classes['#items'][0].getString() }}{% endif %}"
      {% if content.field_css['#items'][0].getString() is not empty %} 
          style="{{ content.field_css['#items'][0].getString() }}"
      {% endif %}          
  >
    {% if content.field_title.0 is not empty %} 
      <div style="text-align: {{ content.field_position.0 }}; padding-top: 20px">
        <h2>{{ content.field_title }}</h2>
      </div>
    {% endif %}          
    {% if content.field_subtitle.0 is not empty %} 
      <div style="text-align: {{ content.field_position.0 }}; padding-top: 5px">
        <h6>{{ content.field_subtitle }}</h6>
      </div>
    {% endif %}          

    <div>
      {{ content.field_view }}
    </div>
  </div>
</div>
