{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'full-width'
  ]
%}
{% if content.field_classes['#items'][0].getString() is not empty %}
    {% set classes = classes|merge(content.field_classes['#items'][0].getString()|split(' ')) %}
{% endif %}

{% block paragraph %}

<div{{ attributes.addClass(classes) }} 
    {% if content.field_css['#items'][0].getString() is not empty %}style="{{ content.field_css['#items'][0].getString() }}"{% endif %}
    {% if content.field_id['#items'][0].getString() is not empty %}id="{{ content.field_id['#items'][0].getString() }}"{% endif %}
>


    {% if content.field_title.0 is not empty %}
        <div class="box-title" >{{ content.field_title.0 }}</div>
    {% endif %}
    {% if content.field_subtitle_html.0 is not empty %}
        <div class="box-subtitle" >{{ content.field_subtitle_html.0 }}</div>
    {% endif %}

    {% set indicators = [] %}
    {% for key, item in content.field_box if key|first != '#' %}
        {% set type = '' %}
        {% if content.field_box[loop.index0]['#paragraph'].field_collateral_types is defined %}
            {% set type = content.field_box[loop.index0]['#paragraph'].field_collateral_types.value %}
        {% elseif content.field_box[loop.index0]['#paragraph'].field_node_content is defined %}
            {% set type = content.field_box[loop.index0]['#paragraph'].field_node_content.entity.field_resource_type.value %}
        {% elseif content.field_box[loop.index0]['#paragraph'].bundle == 'video_player' %}
            {% set type = 'Video' %}
        {% endif %}

        {% if type != '' %}
            {% if content.field_box[loop.index0]['#paragraph'].field_image_file.value is not empty %}
                {% set indicators = indicators|merge([content.field_box[loop.index0]['#paragraph'].field_image_file.value~'|'~type]) %}
            {% elseif content.field_box[loop.index0]['#paragraph'].field_node_content is defined %}

                {% if content.field_box[loop.index0]['#paragraph'].field_node_content.entity.field_image_file.value is not empty %}
                    {% set indicators = indicators|merge([content.field_box[loop.index0]['#paragraph'].field_node_content.entity.field_image_file.value~'|'~type]) %}
                {% else %}
                    {% set indicators = indicators|merge([file_url(content.field_box[loop.index0]['#paragraph'].field_node_content.entity.field_image.entity.fileuri)~'|'~type]) %}
                {% endif %}                          
            {% else %}
                {% set indicators = indicators|merge([file_url(content.field_box[loop.index0]['#paragraph'].field_image.entity.fileuri)~'|'~type]) %}
            {% endif %}              
        {% endif %}
    {% endfor %}
    
    <div class="bb-container {% if content.field_layout['#items'][0].getString() != 'Full Width' %}container{% endif %} carousel {% if indicators|length<=1 %}only-one{% endif %}" >
        {% set sliderSettings = content.field_settings['#items'][0].getString() %}
        {% if content.field_id['#items'][0].getString() == 'resources' %}
            {% set sliderSettings = 'data-fade="true" data-infinite="false" data-draggable="false"' %}
        {% endif %}
        <div class="gavias-slider" {{sliderSettings|raw}} data-dots="true" {% if content.field_slides_to_show.0['#markup'] != '1' %}data-responsive="true"{% endif %} data-indicator='{{ indicators|join(',') }}'>
            <div class="loading"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></div>
            <div class="swiper-wrapper" data-slick='{"slidesToShow": {{ content.field_slides_to_show.0 }}, "slidesToScroll": {{ content.field_slides_to_show.0 }} }'>
                {% for key, item in content.field_box if key|first != '#' %}

                    {% if content.field_box[loop.index0]['#paragraph'].field_node_content is defined %}
                        {% if content.field_box[loop.index0]['#paragraph'].field_node_content.entity.field_resource_type.value is not empty%}
                            <div class="slide">
                              <div {% if content.field_slides_to_show.0['#markup'] == '1' %}class="container"{% endif %}>
                                {{ content.field_box[loop.index0] }}
                              </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="slide">
                          <div {% if content.field_slides_to_show.0['#markup'] == '1' %}class="container"{% endif %}>
                            {{ content.field_box[loop.index0] }}
                          </div>
                        </div>                        
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{# 
    <div class="bb-container {% if content.field_layout['#items'][0].getString() != 'Full Width' %}container{% endif %} carousel" >
        {% for key, item in content.field_box if key|first != '#' %}
            <div class="slide">
              <div class="container">
                {{ content.field_box[loop.index0] }}
              </div>
            </div>
        {% endfor %}        
    </div>
 #}
</div>
{% endblock paragraph %}
