{% extends 'node--press-release.html.twig' %}


{% set pr_contact_name = 'Perry G. Hayes' %}


{% set ir_contact_default %}
    <strong>Investor Relations Contact:</strong><br/>
    {{ pr_contact_name }}, 408-895-6570<br/>
    SVP, Investor Relations<br/>
    <a href="mailto:perryh@supermicro.com">PerryH@supermicro.com</a>
    </p>
{% endset %}



{% block contact_info_en %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_en %}{% endblock %}



{% block contact_info_zh_tw %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_zh_tw %}{% endblock %}



{% block contact_info_zh_cn %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_zh_cn %}{% endblock %}



{% block contact_info_ja %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_ja %}{% endblock %}



{% block contact_info_fr %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_fr %}{% endblock %}



{% block contact_info_de %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_de %}{% endblock %}



{% block contact_info_it %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_it %}{% endblock %}



{% block contact_info_ko %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_ko %}{% endblock %}



{% block contact_info_es %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_es %}{% endblock %}



{% block contact_info_pt_pt %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_pt_pt %}{% endblock %}



{% block contact_info_ru %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_ru %}{% endblock %}



{% block contact_info_vi %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_vi %}{% endblock %}



{% block contact_info_th %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_th %}{% endblock %}



{% block contact_info_id %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_id %}{% endblock %}



{% block contact_info_ms %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_ms %}{% endblock %}



{% block contact_info_hi %}
    {{ ir_contact_default }}
{% endblock %}


{% block more_info_hi %}{% endblock %}

