{% extends 'node--press-release.html.twig' %}


{% set more_info_default %}
	<p>For more information on Supermicro’s complete line of Embedded Building Block Solutions visit <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> or download an <a href="https://www.supermicro.com/manuals/brochure/brochure_Embedded.pdf">Embedded Solutions Brochure</a>.</p>

	<p>For more information on RSA Asia 2019 or to register for an expo pass, please visit <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a>.</p>
{% endset %}




{% block more_info_en %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_zh_tw %}
	<p>有關美超微完整的嵌入式 Building Block Solutions 系列詳情，請瀏覽 <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> 或下載 <a href="https://www.supermicro.com/manuals/brochure/brochure_Embedded.pdf">嵌入式解決方案手冊</a>。</p>

	<p>有關 RSA Asia 2019 或註冊領取展會入場券的詳情，請瀏覽 <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a>。</p>
{% endblock %}


{% block more_info_zh_cn %}
	<p>有关美超微完整的嵌入式 Building Block Solutions 系列详情，请访问 <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> 或下载 <a href="https://www.supermicro.com/manuals/brochure/brochure_Embedded.pdf">嵌入式解决方案手册</a>。</p>

	<p>有关RSA Asia 2019或注册领取展会入场券的详情，请访问 <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a>。</p>
{% endblock %}


{% block more_info_ja %}
	<p>Supermicro のエンベデッド・ビルディングブロック・ソリューションの製品一覧はウェブサイト <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> を参照するか、<a href="https://www.supermicro.com/manuals/brochure/brochure_Embedded.pdf">Embedded Solutions Brochure</a> をダウンロード。</p>

	<p>RSA Asia 2019 に関する詳細、エクスポパスの登録はウェブサイト visit  <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a> で。</p>
{% endblock %}


{% block more_info_fr %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_de %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_it %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ko %}
	<p>슈퍼마이크로의 임베디드 빌딩 블록 솔루션 전체 라인에 대한 상세 정보가 필요할 경우 <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> 를 방문하거나 <a href="https://www.supermicro.com/manuals/brochure/brochure_Embedded.pdf">임베디드 솔루션 브로셔</a> 를 다운로드하기 바란다.</p>

	<p>RSA 아시아 2019 에 대한 상세 정보가 필요하거나 엑스포 패스 신청 등록하려면 <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a> 를 방문하기 바란다.</p>
{% endblock %}


{% block more_info_es %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_pt_pt %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ru %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_vi %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_th %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_id %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ms %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_hi %}
	<p>सुपरमाइक्रो के एम्बेडेड सबस्डंग ब्लिॉक सॉ्यूशंस की संपूणव श ंखिा के बारे में असधक जानकारी के सिए देखें <a href="https://www.supermicro.com/embedded">www.supermicro.com/Embedded</a> या एम्बेडेड सॉ्यूशंस ब्राउशर डाउनिोड करें।</p>

	<p>आरएसए एसशया 2019 पर असधक जानकारी के सिए या एक्सपो के पास की खासतर पंजीकरण कराने के सिए क पया देखें <a href="https://www.rsaconference.com/events/ap19">https://www.rsaconference.com/events/ap19</a>.</p>
{% endblock %}