{% extends 'node--press-release.html.twig' %}


{% set more_info_default %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endset %}




{% block more_info_en %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_zh_tw %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_zh_cn %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ja %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_fr %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endblock %}


{% block more_info_de %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endblock %}


{% block more_info_it %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endblock %}


{% block more_info_ko %}
	<p>슈퍼마이크로 제품들에 대한 상세 정보가 필요할 경우 <a href="https://www.supermicro.com/">www.supermicro.com</a>을 방문하기 바란다.</p>

	<p>슈퍼마이크로의 최신 뉴스와 발표문을 받아 보려면 <a href="https://www.facebook.com/Supermicro">페이스북</a>과 <a href="https://www.facebook.com/Supermicro">트위터</a>에서 슈퍼마이크로를 팔로우하기 바란다.</p>
{% endblock %}


{% block more_info_es %}
	<p>Para obtener más información sobre los productos de Supermicro, visite <a href="https://www.supermicro.com" target="_blank">www.supermicro.com</a>.</p>

	<p>Siga a Supermicro en&nbsp;<a href="https://www.facebook.com/Supermicro" target="_blank">Facebook</a> y <a href="https://www.facebook.com/Supermicro" target="_blank">Twitter</a> para recibir las últimas noticias y anuncios.</p>
{% endblock %}


{% block more_info_pt_pt %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ru %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endblock %}


{% block more_info_vi %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_th %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_id %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_ms %}
	{{ more_info_default }}
{% endblock %}


{% block more_info_hi %}
	<p>For complete information on Supermicro products, visit <a href="https://www.supermicro.com/">www.supermicro.com</a>.</p>

	<p>Follow Supermicro on <a href="https://www.facebook.com/Supermicro">Facebook</a> and <a href="https://twitter.com/Supermicro_SMCI">Twitter</a> to receive their latest news and announcements.</p></p>
{% endblock %}


{% block pr_footer_extra %}

	{% if language == '/en'  %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/zh_tw' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/zh_cn' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/ja' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/ko' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> 사전 생산 부품의 컴퓨터 모델링과 SPECrate®2017_int_base 내부 시험 결과를 사용하는 AMD EPYC를 위한 2019년 7월 3일자의 예측치. 결과는 생산 반도체 시험에 따라 달라질 수 있다. EPYC 7601 결과는 2019년 6월의 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate®, SPEC CPU®는 스탠다드퍼포먼스이밸류에이션코포레이션(Standard Performance Evaluation Corporation)의 등록상표이다. 상세 정보가 필요할 경우 www.spec.org를 참조하기 바란다. ROM-23</p>

			<p><sup>ii</sup> "젠(Zen)"과 비교한 "젠2"에 대한 AMD 내부의 설계 사양을 기반으로 한 세대별 추정 증가치. "젠2"의 코어 집적도는 "젠"의 2배이며 동일 주파수에서 코어 당 피크 플롭스가 2배로 높아질 경우 스루풋의 플롭스는 4배가 된다. 생산 반도체에 따라 실제 결과는 달라질 수 있다.</p>

			<p><sup>iii</sup> 2세대 AMD EPYC™ 프로세서[코드명 "로마(Rome)"]의 일부 지원 특성과 기능은 1세대 AMD EPYC 7000 시리즈 프로세서를 위해 설계된 마더보드와 함께 사용될 경우 서버 제조사의 BIOS 업데이트가 필요하다. "로마" 프로세서를 위해 설계된 마더보드는 쓸 수 있는 모든 기능의 구현을 위해 필요하다. ROM-06 </p>
		</div>

	{% elseif language == '/fr' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/de' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/es' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Proyecciones desde el 3 de julio de 2019 para procesadores AMD EPYC que utilizan modelado informático de piezas de preproducción y los resultados de ensayos internos SPECrate®2017_int_base. Los resultados pueden variar con respecto a las pruebas de producción de silicio. Resultados EPYC 7601 de junio de 2019 http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf. SPEC®, SPECrate® y SPEC CPU® son marcas registradas de Standard Performance Evaluation Corporation. Visite www.spec.org para obtener más información. ROM-23</p>

			<p><sup>ii</sup> Aumento estimado de una generación a otra en base a las especificaciones de diseño interno de AMD para "Zen 2" en comparación con "Zen". "Zen 2" tiene el doble de densidad de núcleo que "Zen", y cuando se multiplica por 2 el pico de FLOP por núcleo, manteniendo la misma frecuencia, el resultado es un rendimiento de FLOP cuatro veces mayor. Los resultados reales en la producción de silicio podrían diferir de estos.</p>

			<p><sup>iii</sup> Algunas de las prestaciones y funcionalidades de los procesadores AMD EPYC™ de segunda generación (nombre en código "Rome") requieren una actualización de la BIOS del fabricante del servidor cuando se utiliza con una placa base diseñada para el procesador AMD EPYC de la serie 7000 de primera generación. Se necesita una placa base diseñada para los procesadores "Rome" si se quieren habilitar todas las funciones disponibles. ROM-06 </p>
		</div>

	{% elseif language == '/pt-pt' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/ru' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/vi' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/th' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/id' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/ms' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>

	{% elseif language == '/hi' %}
		<div class="footnotes" style="font-size: smaller; margin-top: 2em">
			<p><sup>i</sup> Projections as of July 3, 2019 for AMD EPYC processors using computer modeling of preproduction parts and SPECrate® 2017_int_base internal testing results. Results may vary with production silicon testing. EPYC 7601 results as of June 2019 <a href="http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf">http://spec.org/cpu2017/results/res2019q2/cpu2017-20190411-11817.pdf</a>. SPEC®, SPECrate® and SPEC CPU® are registered trademarks of the Standard Performance Evaluation Corporation. See www.spec.org for more information. ROM-23</p>

			<p><sup>ii</sup> Estimated generational increase based upon AMD internal design specifications for “Zen 2” compared to “Zen”. “Zen 2” has 2X the core density of “Zen”, and when multiplied by 2X peak FLOPs per core, at the same frequency, results in 4X the FLOPs in throughput. Actual results with production silicon may vary.</p>

			<p><sup>iii</sup> Some supported features and functionality of second generation AMD EPYC™ processors (codenamed “Rome”) require a BIOS update from your server manufacturer when used with a motherboard designed for the first generation AMD EPYC 7000 series processor. A motherboard designed for “Rome” processors is required to enable all available functionality. ROM-06 </p>
		</div>
	{% endif %}

{% endblock %}