{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'banner'
  ]
%}

{% set bannerId = '.banner' ~ paragraph.id.value ~ '.banner ' %}
{{ content.field_banner_css[0]['#text']|replace({'.banner ': bannerId })|raw }}

{% set hasProducts = false %}
{% for key, item in content.field_banner_products if key|first != '#' %}
    {% if content.field_banner_products[loop.index0]['#paragraph'].field_image is not empty %}
      {% set hasProducts = true %}
    {% endif %} 
{% endfor %}

{% if content.field_layout.0 != 'Box' %}
    {% set classes = classes|merge(['full-width']) %}
{% endif %}
{% set classes = classes|merge(['banner' ~ paragraph.id.value]) %}
{% if content.field_classes['#items'][0].getString() is not empty %}
    {% set classes = classes|merge(content.field_classes['#items'][0].getString()|split(' ')) %}
{% endif %}
{% set bannerIndex = paragraph.index is empty ? '0' : paragraph.index %}
{% if paragraph.field_banner_background.entity.fileuri|render is not empty and bannerIndex == '0' %}
    {% set classes = classes|merge(['banner-fade-in']) %}
    <script>
    var bannerBgImg = document.createElement("img");
    bannerBgImg.src = "{{ file_url(paragraph.field_banner_background.entity.fileuri) }}";
    bannerBgImg.onload = function() {
        document.querySelector(".banner.banner-fade-in").classList.remove("banner-fade-in");
    };
    </script>   
{% endif %}


{% block paragraph %}
<div{{ attributes.addClass(classes) }}
    {% if paragraph.field_banner_background.entity.fileuri|render is not empty %}
        {% if bannerIndex == '0' %}
            style="background-image: url({{ file_url(paragraph.field_banner_background.entity.fileuri) }})"
        {% else %}
            data-src="{{ file_url(paragraph.field_banner_background.entity.fileuri) }}"
        {% endif %}
    {% endif %}
>
    {% block content %}

          {% if content.field_add_overlay['#items'][0].getString() == '1' %}
              <div class="overlay"> </div>
          {% endif %}
          {% if content.field_add_supermicro_logo['#items'][0].getString() == '1' %}
              <div>
                  <a href="/index_home.cfm{{langlink}}" title="Home" rel="home" class="site-branding-logo padding-top-20" style="position: absolute; top: 0px; left: -15px">
                    <img src="/sites/default/files/logos/Supermicro_GreenC_NewLogo_DarkBackground_s.png" alt="Supermicro" style="width:80%">
                  </a>
              </div>
          {% endif %}
          {% if content.field_add_logo_shape['#items'][0].getString() == '1' %}
              <div class="logo-shape">
          {% endif %}


          <div class="container">
            <div class="row banner-content" >
              <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-left" >

                   <div class="banner-title">
                      {% if paragraph.field_banner_title.entity.fileuri|render is not empty %}                  
                        <img src="{{ file_url(paragraph.field_banner_title.entity.fileuri) }}"  height="80" alt="" typeof="foaf:Image" />
                      {% elseif content.field_banner_title_text_html|render is not empty %}
                        {{ content.field_banner_title_text_html }}
                      {% else %}
                        {{ content.field_banner_title_text }}
                      {% endif %}
                      
                   </div>
                   {% if content.field_banner_text|render is not empty %}
                        <div class="banner-text">
                            {{ content.field_banner_text }}
                        </div>
                   {% endif %}           

                   <div class="banner-buttons">
                      {% for key, item in content.field_buttons if key|first != '#' %}
                          {{ content.field_buttons[loop.index0] }} 
                      {% endfor %}
                   </div>
              </div>

              {% if hasProducts == true %}
              <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-right">

                  <div class="wrapper">
                        <div class="banner-products total1">

                          {% if content.field_side_by_side['#items'][0].getString() == '1' %}

                              <div class="side-by-side" style="display: flex">
                                  {% for key, item in content.field_banner_products if key|first != '#' %}
                                      <div class="banner-product ">

                                          {% set productLink = content.field_banner_products[loop.index0]['#paragraph'].field_product_link.value %}
                                          {% if productLink is not empty %}
                                              <a class="image-opacity-effect" href="{{ productLink|replace({'/{{langcode}}' : language }) }}">
                                          {% endif %}                          

                                              <img {{ bannerIndex == '0' ? "src" : "data-src" }}="{{ file_url(content.field_banner_products[loop.index0]['#paragraph'].field_image.entity.fileuri) }}">

                                          {% if productLink is not empty %}
                                              </a>
                                          {% endif %}                          

                                          <div class="banner-product-title">
                                            {{ content.field_banner_products[loop.index0]['#paragraph'].field_label.value|raw }}
                                          </div>
                                      </div>
                                  {% endfor %}
                              </div>




                          {% else %}

                              <div class="banner-product ">
                                <div class="slideshow-container">
                                  {% for key, item in content.field_banner_products if key|first != '#' %}
                                      <div class="banner-slide banner-fade" {% if loop.first != true %}style="display: none"{% endif %}>

                                        {% if file_url(content.field_banner_products[loop.index0]['#paragraph'].field_image.entity.fileuri) != '/' %}
                                            <img {{ loop.first ? "src" : "data-src"}}="{{ file_url(content.field_banner_products[loop.index0]['#paragraph'].field_image.entity.fileuri) }}" 
                                                 {% if content.field_banner_products[loop.index0]['#paragraph'].field_image_file.value|striptags|trim != '' %}
                                                 src="{{ content.field_banner_products[loop.index0]['#paragraph'].field_image_file.value|striptags|trim }}"
                                                 {% endif %}
                                                 data-id="{{ content.field_banner_products[loop.index0]['#paragraph'].field_label.value|striptags|trim }}" 
                                                 style="width:100%" >
                                        {% endif %}
                                      </div>
                                  {% endfor %}
                                </div>
                              </div>

                              <div class="banner-product-title" >
                                  {% for key, item in content.field_banner_products if key|first != '#' %}
                                      <div class="image-selector {% if loop.first == true %}active{% endif %}" data-id="{{ content.field_banner_products[loop.index0]['#paragraph'].field_label.value|striptags|trim }}">
                                          {{ content.field_banner_products[loop.index0]['#paragraph'].field_label.value|striptags|trim }}
                                      </div>
                                  {% endfor %}
                              </div> 

                          {% endif %}




                        </div>
                    </div>
              </div>
              {% endif %}

            </div>
          </div>   <!-- </container> -->

          {% if content.field_add_logo_shape['#items'][0].getString() == '1' %}
              </div>
          {% endif %}

    {% endblock %}

</div> <!-- </banner> -->
{% endblock paragraph %}
